* {
    -webkit-font-smoothing: antialiased;
}

body {
    background: url(../img/noise.jpg);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a { color: inherit; }

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

#page-wrapper {
    margin: 2rem 10%;
}

.vcard aside {
    float: left;
    margin: 0 2rem 2rem 0;
    color: #333;
}

p {
    margin: 0.5rem 0;
    text-indent: 1rem;
}

p.first,
p:first-child {
    margin-top: 0;
    text-indent: 0;
}
p:last-child { margin-bottom: 0; }

body,
h1,
h2 {
    color: #666;
    line-height: 1.3rem;
}

h1 {
    font-size: 2rem;
    color: #333;
    border-bottom: 0.2rem solid #008CBA;
    padding-bottom: 1rem;
    font-weight: bold;
    letter-spacing: -0.15rem;
    font-variant-ligatures: common-ligatures;
}

h2 {
    border-bottom: 0.15rem solid #008CBA;
    margin: 1.3rem 0;
}

h3 {
    border-bottom: 0.1rem solid #ccc;
    margin: 1rem 0;
}

h2, h3, h4 { padding: 0 0 0.5rem 0; }

h2 span { font-weight: normal; }

h2 small { font-size: 60%; }
h4 small { font-size: 90%; }

h2 small, h3 small, h4 small {
    font-weight: normal;
    display: block;
    margin-top: 0.3em;
}

h2, h3, h4, h5, h6 {
    position: relative;
}

.header-link {
  position: absolute;
  left: -1.5em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

.fa-ul { margin: 0; }
.fa-ul li { padding: 0 0.5rem 0 1rem; }
.fa-li {
    left: 0rem;
    top: 0.3em;
    width: 0;
}

.xp {
    padding: 1em 0 1em 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    border-top: 1px solid #ccc;
}

.xp:first-child {
    border-top: none;
}

.volunteer.xp {
    padding: 0;
    margin: 1rem 0 0 0;
    border: none;
    text-indent: 0;
}

.xp aside {
    min-width: 15em;
    margin-bottom: 1em;
    /* TODO remove flex-flox: row wrap and etc repetitions */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    -webkit-justify-content: none;
    justify-content: none;
}

.job-data { width: 21em; }
.job-keywords { width: 36em; }

.keyword {
    border-radius: 1000rem;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: auto;
    padding: 0.2rem 0.4rem 0.2rem;
    font-size: 0.7rem;
    background-color: #008CBA;
    color: #fff;
}

/* TODO make all these class merely ".flex-container" */
.languages,
.courses,
.academy-courses,
.events,
.books,
.volunteer-xps,
.talks {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
}

.academy-course {
    min-width: 23em;
    max-width: 50%;
    margin-right: 2em;
}
.academy-course:first-child {
    margin-bottom: 1em;
}

.courses li,
.events li,
.talk,
.volunteer.xp,
.books li,
.languages li {
    width: 19em;
}

.volunteer.xp aside { border: none; }

h4,
.summary,
.talk {
    margin: .8rem 0;
    text-indent: 0;
}

.fa-ul li {
    margin: 0.3rem 0;
    font-size: 90%;
}

.books em { font-size: 80%; }
.books small { display: block; }
.books li small:before { content: '/'; }
