* {
    -webkit-font-smoothing: antialiased;
}
body {
    background: url(../img/noise.jpg);
    font-size: 14px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.vcard aside {
    float: left;
    margin: 0 2rem 2rem 0;
}

footer {
    margin-top: 1rem;
    text-align: center;
}

p {
    margin: 0.5rem 0;
    text-indent: 3rem;
}

p.first,
p:first-child {
    margin-top: 0;
    text-indent: 0;
}
p:last-child { margin-bottom: 0; }

body,
h1, h2 {
    color: #666;
    line-height: 1.4rem;
}

section h3 {
    text-align: right;
    border-bottom: 1px solid #666;
    margin: 1rem 0;
}

h1 {
    color: #000;
    border-bottom: 0.1rem solid #999;
    padding-bottom: 1rem;
    font-weight: bold;
    letter-spacing: -0.15rem;
    font-variant-ligatures: common-ligatures;
}

#page-wrapper {
    width: 200mm;
    margin: 2rem auto;
}

.fa-ul {
    margin: 0;
}
.fa-ul li {
    padding-left: 1.5rem;
}
.fa-li {
    left: 0rem;
    width: 0;
}

main h2,
section h2 {
    padding: .7rem 5rem .5rem 2rem;
    background-color: #eaeaea;
    display: inline-block;

    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border: 1px solid #ccc;
    border-left: none;
    margin: 1rem 0;
}

.xp {
    margin: 0 0 3rem 0;
    display: flex;
    flex-flow: row nowrap;
}

.xp aside {
    padding: 0 1rem 0 0;
    border-right: 1px solid #000;
    margin: 0 1.5rem 0 0;
    width: 15rem;
    min-width: 15rem;
    min-height: 6rem;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

.job-data {
    flex: 1;
}

.keyword {
    border-radius: 1000rem;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: auto;
    padding: 0.22222rem 0.44444rem 0.22222rem;
    font-size: 0.61111rem;
    background-color: #008CBA;
    color: #fff;
}

.languages,
.courses,
.academy-courses,
.events,
.books,
.talks {
    display: flex;
    flex-flow: row wrap;
}

.courses li,
.events li,
.books li,
.academy-course,
.talk {
    min-width: 50%;
    max-width: 50%;
}

.languages li {
    min-width: 32%;
    max-width: 32%;
}

h4,
.summary,
.talk {
    margin: 1rem 0;
    text-indent: 0;
}

.languages li,
.courses li,
.achievements li,
.events li {
    margin: 0.5rem 0;
}
