* {
    -webkit-font-smoothing: antialiased;
}
body {
    background: url(../img/noise.jpg);
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.vcard aside {
    float: left;
    margin: 0 2rem 2rem 0;
    color: #333;
}

a {
    color: inherit;
}

footer {
    margin-top: 1rem;
    text-align: center;
}

p {
    margin: 0.5rem 0;
    text-indent: 1rem;
}

p.first,
p:first-child {
    margin-top: 0;
    text-indent: 0;
}
p:last-child { margin-bottom: 0; }

body,
h1,
h2 {
    color: #666;
    line-height: 1.3rem;
}

h1 {
    color: #333;
    border-bottom: 0.2rem solid #008CBA;
    padding-bottom: 1rem;
    font-weight: bold;
    letter-spacing: -0.15rem;
    font-variant-ligatures: common-ligatures;
}

h2 {
    border-bottom: 0.15rem solid #008CBA;
    margin: 2rem 0 1rem 0;
}

h3 {
    border-bottom: 0.1rem solid #ccc;
    margin: 1rem 0;
}

h2,
h3,
h4 {
    padding: 0 0 0.5rem 0;
}

h2 span {
    font-weight: normal;
}

h2 small {
    font-size: 60%;
    font-weight: normal;
    float: right;
}

#page-wrapper {
    width: 200mm;
    margin: 2rem auto;
}

.fa-ul {
    margin: 0;
}
.fa-ul li {
    padding: 0 0.5rem 0 1rem;
}
.fa-li {
    left: 0rem;
    top: 0.3em;
    width: 0;
}

.xp {
    margin: 0 0 2rem 0;
    display: flex;
    flex-flow: row nowrap;
}

.volunteer.xp {
    margin: 1rem 0 0 0;
}

.xp aside {
    border-right: 0.1rem solid #ccc;
    margin: 0 1.5rem 0 0;
    width: 15rem;
    min-width: 15rem;
    min-height: 6rem;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

.job-data {
    flex: 1;
}

.keyword {
    border-radius: 1000rem;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: auto;
    padding: 0.2rem 0.4rem 0.2rem;
    font-size: 0.6rem;
    background-color: #008CBA;
    color: #fff;
}

.languages,
.courses,
.academy-courses,
.events,
.books,
.volunteer-xps,
.talks {
    display: flex;
    flex-flow: row wrap;
}

.academy-course {
    min-width: 50%;
    max-width: 50%;
}

.courses li,
.events li,
.talk,
.volunteer.xp,
.books li,
.languages li {
    min-width: 33%;
    max-width: 33%;
}


.volunteer.xp aside {
    border: none;
}

h4,
.summary,
.talk {
    margin: .8rem 0;
    text-indent: 0;
}

.languages li,
.courses li,
.books li,
.achievements li,
.events li {
    margin: 0.3rem 0;
}

.books em {
    font-size: 80%;
}
.books small {
    display: block;
}
.books li small:before {
    content: '/';
}
