.show-for-print {
    display: none;
}

@media print {
    *:not(body) {
        /* -webkit-print-color-adjust: exact; */
    }
    .show-for-print {
        display: block;
    }
    .hide-for-print {
        display: none !important;
    }

    a {
        text-decoration: none;
    }

    #page-wrapper {
        margin: 0;
    }
}
