.show-for-print {
    display: none;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    .show-for-print { display: block; }
    .hide-for-print { display: none !important; }

    body {
        background: none;
    }

    a {
        text-decoration: none;
    }

    #page-wrapper {
        margin: 0;
    }
}
