.xp {
    padding: 1em 0;
    border-top: 1px solid #ccc;
}

.xp:first-child {
    border-top: none;
}

.volunteer.xp {
    padding: 0;
    border: none;
    text-indent: 0;
}

.keyword {
    border-radius: 1000rem;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: auto;
    margin-right: 1px;
    padding: 0.2rem 0.4rem 0.2rem;
    font-size: 0.7rem;
    background-color: #008CBA;
    color: #fff;
}
