:root {
    --primary-blue: #008cba;
    --primary-black: #666;
    --highlight-black: #333;
    --primary-gray: #999;
}
* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--primary-blue);
}
a:hover {
    color: var(--primary-blue);
}

.svg-inline--fa {
    margin-right: 0.3rem;
    color: var(--primary-blue);
}
li::marker {
    color: var(--primary-blue);
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
}

#page-wrapper {
    margin: 2rem 10%;
}

p {
    margin: 0.5rem 0;
}

p:first-child {
    margin-top: 0;
    text-indent: 0;
}
p:last-child {
    margin-bottom: 0;
}

body,
h1,
h2 {
    color: var(--primary-black);
    line-height: 1.3rem;
}

h2 {
    color: var(--primary-blue);
    border-bottom: 0.15rem solid #008cba;
    margin: 1.3rem 0;
}

h3 {
    border-bottom: 0.1rem solid #ccc;
    margin: 1rem 0;
}

h2,
h3,
h4 {
    padding: 0 0 0.5rem 0;
}

h2 span {
    font-weight: normal;
}

h2 small {
    font-size: 60%;
}
h4 small {
    font-size: 90%;
}

h2 small,
h3 small,
h4 small {
    font-weight: normal;
    display: block;
    margin-top: 0.3em;
}

h2,
h3,
h4,
h5,
h6 {
    position: relative;
}

.header-link {
    position: absolute;
    left: -1.5em;
    opacity: 0;
    font-size: 0.8em;

    transition: opacity 0.2s ease-in-out 0.1s;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1.5rem;
}

.courses.grid-container,
.events.grid-container,
.books.grid-container {
    grid-gap: 1rem;
}

.icon-grid-container {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    align-items: baseline;
    align-content: start;
    font-size: 90%;
}
.book.icon-grid-container,
.events .event.icon-grid-container,
.noteworthy.icon-grid-container,
.course.icon-grid-container {
    grid-template-columns: 1.2rem 1fr;
}

li small:before {
    content: '/ ';
    color: var(--primary-blue);
    font-weight: bold;
}

h4,
.summary {
    margin: 0.3rem 0;
    font-size: 90%;
}

.hidden-comma {
    color: transparent;
    font-size: 1px;
}
