.show-for-print { display: none; }

@media print {
    @page { margin: 0.5cm; }

    #page-wrapper {
        margin: 0;
    }

    * { -webkit-print-color-adjust: exact; }

    .show-for-print { display: block; }
    .hide-for-print { display: none !important; }

    html { font-size: 12px; }
    body { background: none; }

    a { text-decoration: none; }

    h1, h2, h3, h4 {
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;
        orphans: 3; widows: 3;
    }

    .xp,
    .keyword {
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;

        /*
        color: #666;
        background-color: transparent;
        border: 0.1rem solid #ccc;
        padding: 0.1rem 0.3rem 0.1rem;
        */
    }
}
